<div class="content">
        <!--novalidate passing to form class saying html not to validate the form as Angular is going to validate  -->
        <h2 style="text-align: center"> Contact details for validation.</h2>
        <form name="contactForm" ng-submit="sendMessage()" novalidate>
                
                <input type="text" name="name" placeholder="Enter the name." ng-model="name" ng-required="true" />
                <div ng-show="contactForm.name.$invalid && contactForm.name.$touched">
                <small style="color: red; display: block; text-align: center;">enter valid name</small>
                </div>

                <input type="email" name="email" placeholder="Enter the email." ng-model="email" ng-required="true" />
                <div ng-show="contactForm.email.$invalid && contactForm.email.$touched">
                <small style="color: red; display: block;text-align:center;">enter valid email</small>
                </div>

                <textarea placeholder="Enter the message" name="message" ng-model="message" ng-required="true"></textarea>
                <!--ng-disabled to disable the button if some condition fails  -->
                <input type="submit" value="Submit" ng-disabled="contactForm.$invalid" />
        </form>
</div>